SECRET_KEY=django-insecure-yb&yqhylx6o7o3f$6-=3zxoxyxftkb2+di%5@8js&+q!b)28st
CSRF_TRUSTED_ORIGINS=https://rent.alpacabunt.de
DEBUG=True
ALLOWED_HOSTS=rent.alpacabunt.de,localhost,127.0.0.1
TIME_ZONE=Europe/Berlin
LANGUAGE_CODE=de-DE
SNIPEIT_URL=https://deine-snipeit-url.tld/api/v1
SNIPEIT_TOKEN=secret-token
ASSET_CHECK_TOKEN=foobar123