{% extends "verleih/base.html" %}
{% block content %}
<h2>Ausgegebene Assets</h2>
<table class="table table-striped table-bordered">
    <tr>
        <th>Asset</th>
        <th>Kategorie</th>
        <th>Teilnehmer*in</th>
        <th>Ausgeliehen am</th>
    </tr>
    {% for ausleihe in ausleihen %}
    <tr>
        <td>{{ ausleihe.asset.asset_tag }}</td>
        <td>{{ ausleihe.asset.category }}</td>
        <td>{{ ausleihe.person.name }} ({{ ausleihe.person.projekt }})</td>
        <td>{{ ausleihe.timestamp|date:"d.m.Y H:i" }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="4">Keine ausgegebenen Assets.</td></tr>
    {% endfor %}
</table>
{% endblock %}
